# IntelliJ
.idea/
out/
*.iml

# Packer
packer.exe

# Temporary files or links
builds/**/provision.yml
builds/**/output-virtualbox-iso/
builds/**/installer_cache/
builds/**/installer_cache/
packer_cache/
*.ova
*.iso
